

/* Lato-Regular */@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Lato-Semibold */@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Semibold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}
/* Lato-Medium */@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato/Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato/Lato-Medium.ttf') format('truetype');
    font-style: italic;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

