.btn, a.btn{
    display: inline-block;
    background-color:#01996D;
    height: 51px;
    line-height: 51px; /*высота строки равна высоте кнопки*/
    /* min-height: 51px; другой способ
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1; */
    padding-left: 50px;
    padding-right: 50px;
    color:#fff;
    font-size: 20px;
    font-weight: 400px;
    border-radius: 4px;
    transition: 0.2s ease;
}

.btn:hover, a.btn:hover{
    opacity: 0.8;
    color:#fff;
}

.btn-big, a.btn-big{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1; 
}
