.header{
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #D6D6D6;

}

.header-row{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}       
.header-nav{
    margin-left: 172px;
    font-weight: 500;
    color:#292929;
}

.header-nav ul{
    display: flex;
}

/* Три варианта выравнивания */
/* .header-nav li:not(:last-child){
    margin-right: 70px;
}

.header-nav li:last-child{
    margin-right: 0px;
} */

.header-nav li + li{
    margin-left: 70px;
}

/*  */

.header-nav a{
    transition: color 1s ease;
}
.header-nav a:hover{
    color:#01996D;
}
.header-login a {
    color:#000;
}

.header-login a:hover {
    color:#01996D;
    transition: color 1s ease;
}

.btn, a.btn{
    display: inline-block;
    background-color:#01996D;
    height: 51px;
    line-height: 51px; /*высота строки равна высоте кнопки*/

    /* min-height: 51px; другой способ
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1; */


    padding-left: 50px;
    padding-right: 50px;
    color:#fff;
    font-size: 20px;
    font-weight: 400px;
    border-radius: 4px;
    transition: opacity 0.2s ease;
}

.btn:hover, a.btn:hover{
    opacity: 0.8;
    color:#fff;
}

.header-login{
    display: flex;
    align-items:center;
    margin-left:auto;
}

.header-login > * + *{
    margin-left: 35px;
}