.how-it-works{
    padding-top: 169px;
    padding-bottom: 51px;
}
.how-it-works-header{
    display: flex;
    justify-content: space-between;
}
.how-it-works-header-head{
    max-width: 584px;
    margin-right: 136px;
}
.how-it-works-title{
    margin-bottom: -3px;
    font-size: 24px;
    font-weight: 600;
    line-height: 157%;
}
.how-it-works-subtitle{
    font-weight: 700;
    line-height: 157%;
    font-size: 50px;
    font-family: 'Georgia', serif;
    color:#01996D;
}
.how-it-works-header-content{
    max-width: 671px;
    line-height: 150%;
    font-weight: 500;
    padding-top: 63px;
}

.how-it-works-steps{

}